body {
    padding: 50px;
}
.app-container {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}
.form-check-inline {
    width: 20%;
    margin-bottom: 10px;
}