.app-container {
    max-height: 300px;
    overflow-y: auto;
}

.app-container .custom-control-label {
    width: 100%;
    cursor: pointer;
}

.app-container .custom-control {
    padding-left: 1.5rem;
}